@charset "UTF-8";
@import url('styles.css');

/*
    CSS Media-Query Archive by: @arthurferreira-dev
    Comments and Organizate by: @arthurferreira-dev
    License: Creative Commons 1.0
*/

@media screen and (min-width: 360px) and (max-width: 480px) { /*Mobile*/
    /* Skeletonz */
    header {
        background-color: #eaa422;
    }

    /* Add more rules */
    i#icon-menu {
        display: block;
    }

    /* Default */
    ol#menu-list {
        flex-flow: column wrap;
    }

    ol#menu-list > * {
        margin-bottom: 12px;
    }

    ol#menu-list > li#first {
        margin-top: 12px;
    }

    section#alerta > p {
        margin-top: 13px;
        font-size: 0.99em;
        text-align: center;
    }
}

/*Tablet e Ipad (Portrait)*/
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* Skeletonz */
    header {
        background-color: #eaa422;
    }

    /* Add more rules */
    i#icon-menu {
        display: none;
    }

    ol#menu-list {
        flex-flow: row nowrap;
    }

    section#alerta > p {
        margin-top: 12px;
        font-size: 1em;
        text-align: left;
    }
}

/*Tablet e Ipad (Landscape)*/
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Skeletonz */
    header {
        background-image: linear-gradient(to right, #eaa422, var(--yellow-dark));
    }

    /* Add more rules */
    i#icon-menu {
        display: none;
    }

    ol#menu-list {
        flex-flow: row nowrap;
    }

    section#alerta > p {
        margin-top: 12px;
        font-size: 1.2em;
        text-align: left;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) { /*Laptop e Desktop*/
    header {
        background-image: linear-gradient(to right, #eaa422, var(--yellow-dark));
    }

    i#icon-menu {
        display: none;
    }

    ol#menu-list {
        flex-flow: row nowrap;
    }
}

@media screen and (min-width: 1281px) { /* Desktop e TV com alta resolução*/
    header {
        background-image: linear-gradient(to right, #eaa422, var(--yellow-dark));
    }

    i#icon-menu {
        display: none;
    }

    ol#menu-list {
        flex-flow: row nowrap;
    }

    section#alerta > p {
        margin-top: 12px;
        font-size: 1.085em;
        text-align: left;
    }
}

/*Thanks!
https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488
*/