@charset "UTF-8";
@import url('fonts.css');

* { /*Reset Charset*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root { 
    /*#BF0019, #DE9000, #592C00, #D8D3C8, #F52F2C*/

    --red: #BF0019;
    --yellow-dark: #DE9000;
    --bosta: #592C00;
    --cinza-branco: #D8D3C8;
    --tomato: #F52F2C;
}

body {
    font-family: var(--default);
    height: 100vh;
    font-size: 1em;
    color: #000;
}

a, abbr {
    text-decoration: none;
    color: #000;
}

a {
    transition-duration: .38s;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: var(--yellow-dark);
}

nav {
    border-top: 3px solid #a09d96;
    border-bottom: 3px solid #a09d96;
    background-color: #fff;
    padding: 5.6px;
    text-align: center;
}

main {
    margin-top: 12px;
}

nav > a {
    margin-right: 5px;
    padding: 5.6px;
    color: #817f7a;
}

nav > a:hover {
    text-decoration: none;
    color: #F52F2C;
}

img#pitu {
    display: block;
    margin: 0px auto 1px auto;
    height: 115px;
    padding-top: 5px;
}

h1#title {
    text-align: center;
    margin-bottom: 5px;
}