@charset "UTF-8";
@import url('fonts.css');

* { /*Reset Charset*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--default);
    height: 100vh;
    font-size: 1em;
    color: #000;
}

a, abbr {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}