nav {
    border-top: 3px solid #ff0000;
    border-bottom: 3px solid #000000;
    padding: 5.6px;
    text-align: center;

}



nav > menu > ol > li > a {
    margin-right: 5px;
    padding: 5.6px;
    color: #f50000;
}

nav > menu > ol > li > a:hover {
    text-decoration: none;
    color: #F52F2C;
}
